@using IndicadoresOEE.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>@ViewBag.Title.</h2>
<div layout="column" layout-align="center" style="min-width: 30rem !important; margin-top:2rem;">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="md-form">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.LabelFor(m => m.Email, new { })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="md-form">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.LabelFor(m => m.Password, new { })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}